body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 20, 24);
  color: #eee;
  user-select: none;
  font-size: 12px;
  width: 100%;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* NAV BAR */

nav {
  width: 100%;
  background-color: rgb(22, 20, 24);
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  /* border-width: 90%; */
}

.nav div {
  height: 4px;
  background-color: white;
  margin: 8px 0;
  border-radius: 100px;
  transition: 0.3s;
  transform: translateX(0px);
  transition: transform 150ms ease-in-out, 150ms ease-in-out;
}

.nav {
  width: 30px;
  display: block;
}
.nav1 {
  width: 30px;
}
.nav2 {
  width: 20px;
}
.nav3 {
  width: 25px;
}

.emptybutton {
  position: fixed;
  width: 40px;
  height: 6vh;
  background: transparent;
  border: 0px;
  z-index: 6;
}

body:has(.emptybutton:hover) .nav div {
  width: 30px;
}
body:has(.dropdown.active) .nav div {
  width: 30px;
}


/* HERO */

main {
  width: 100%;
  height: 95vh;
}

title {
  display: flex;
  width: 100%;
  height: 95vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 10rem;
}


/* CARDS */

.nft-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: 20px;
  gap: 2rem;
}

.nft {
  display: inline-block; /* or display: inline-flex; */
  user-select: none;
  max-width: 200px;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.1333333333);
  background-color: #282c34;
  overflow: hidden;
  transition: 0.5s all;
}

.card-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tokenImage {
  margin-top: .7rem;
  border-radius: 0.6rem;
  max-width: 90%;
  height: 140px;
  object-fit: cover;
}

.nft h2{
  align-items: left;
  width: 90%;
  padding-left: .8rem;
  padding-right: .8rem;
  margin-left: 0.4rem;
}

.description {
  margin: 0;
  width: 90%;
  color: #a89ec9;
  margin-left: 0.4rem;
}

.tokenInfo {
  width: 90%;
  justify-self: center;
}
.pr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5rem;
  margin-bottom: -1rem;
  
}

.price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
  margin-top: -5px;
  margin-left: 0.2rem;
}
.price ins {
  margin-left: 0.1rem;
  margin-right: 0.3rem;
  margin-bottom: -1px;
  text-decoration: none;
}
.rank {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: -5.5px;
  margin-right: 5px;
}
.rank ins {
  margin: 0.5rem;
  margin-bottom: 0.7rem;
  margin-right: 3px;
  font-size: 130%;
  text-decoration: none;
  /* color: #ffffff; */
}
.creator {
  display: flex;
  align-items: center;
}
.creator ins {
  color: #a89ec9;
  text-decoration: none;
}

.nft hr {
  width: 90%;
  border: none;
  border-bottom: 1px solid rgba(136, 136, 136, 0.3333333333);
  margin: 0;
}

.nft-container > .nft:nth-child(1) {
  background: linear-gradient(0deg, 
  rgb(131, 131, 131) 0%, 
  rgba(143, 143, 143, 0.5) 100%);
  box-shadow: 0 2px 15px 7px rgba(255, 255, 255, 0.533);
}
.nft-container > .nft:nth-child(1) .rank {
  color: #ffffff;
}
.nft-container > .nft:nth-child(1):hover {
  box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0);
}

.nft-container > .nft:nth-child(2) {
  background: linear-gradient(0deg, 
  rgb(154, 27, 27) 0%, 
  rgba(100, 20, 20, 0.5) 100%);
  box-shadow: 0 2px 10px 7px rgba(255, 36, 36, 0.4);
}
.nft-container > .nft:nth-child(2) .rank {
  color: #da1e1e;
}
.nft-container > .nft:nth-child(2):hover {
  box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0);
}

.nft-container > .nft:nth-child(3) {
  background: linear-gradient(0deg, 
  rgb(40, 0, 105) 0%, 
  rgba(43, 2, 62, 0.5) 100%);
  box-shadow: 0 2px 10px 7px rgba(139, 26, 195, 0.4);
}
.nft-container > .nft:nth-child(3) .rank {
  color: #ae14e2;
}
.nft-container > .nft:nth-child(3):hover {
  box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0);
}

.nft-container > .nft:nth-child(4) {
  background: linear-gradient(0deg, 
  rgb(0, 88, 37) 0%, 
  rgba(5, 69, 62, 0.5) 100%);
  box-shadow: 0 2px 10px 7px rgba(26, 195, 32, 0.4);
}
.nft-container > .nft:nth-child(4) .rank {
  color: #3aeb9b;
}
.nft-container > .nft:nth-child(4):hover {
  box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0);
}

.nft-container > .nft:nth-child(5) {
  background: linear-gradient(0deg, 
  rgb(113, 97, 9) 0%, 
  rgba(102, 87, 27, 0.5) 100%);
  box-shadow: 0 2px 10px 7px rgba(195, 195, 26, 0.4);
}
.nft-container > .nft:nth-child(5) .rank {
  color: #bbea14;
}
.nft-container > .nft:nth-child(5):hover {
  box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0);
}

.nft-container > .nft:nth-child(6) {
  background: linear-gradient(0deg, 
  rgb(94, 52, 0) 0%, 
  rgba(80, 39, 1, 0.5) 100%);
  box-shadow: 0 2px 10px 7px rgba(132, 95, 10, 0.262);
}
.nft-container > .nft:nth-child(6) .rank {
  color: #ea9814;
}
.nft-container > .nft:nth-child(6):hover {
  box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0);
}

.nft-container > .nft:nth-child(7) {
  background: linear-gradient(0deg, 
  rgb(55, 55, 55) 0%, 
  rgba(29, 29, 29, 0.5) 100%);
  box-shadow: 0 2px 10px 7px rgba(61, 61, 61, 0.262);
}
.nft-container > .nft:nth-child(7) .rank {
  color: #949494;
}
.nft-container > .nft:nth-child(7):hover {
  box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0);
}

.nft ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.031372549);
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.nft:hover {
  border: 1px solid rgba(255, 255, 255, 0.2666666667);
  box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.015);
  filter: brightness(1.3);
  -webkit-font-smoothing: antialiased;
}
.nft:hover ::before {
  filter: brightness(0.9);
  top: -140%;
  left: 200%;
}

/* END OF CARDS */