body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 20, 24);
  color: #eee;
  user-select: none;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nft-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 20px;
}

.nft {
  display: inline-block; /* or display: inline-flex; */
  user-select: none;
  max-width: 200px;
  margin: 5rem auto;
  margin-top: 70px;
  margin-bottom: -10px;
  border: 1px solid rgba(255, 255, 255, 0.1333333333);
  background-color: #282c34;
  background: linear-gradient(0deg, 
  rgb(131, 131, 131) 0%, 
  rgba(143, 143, 143, 0.5) 100%);
  box-shadow: 0 2px 15px 7px rgba(255, 255, 255, 0.533);
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
}

.nft hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(136, 136, 136, 0.3333333333);
  margin-top: 0;
}
.nft ins {
  text-decoration: none;
}
.nft .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}
.nft .main .tokenImage {
  border-radius: 0.6rem;
  max-width: 94%;
  height: 140px;
  object-fit: cover;
}
.nft .main .description {
  margin: 0.4rem 0;
  margin-top: -5px;
  color: #a89ec9;
}
.nft .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft .main .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
  margin-top: -5px;
}
.nft .main .tokenInfo .price ins {
  margin-left: 0.1rem;
  margin-right: 0.6rem;
}
.nft .main .tokenInfo .rank {
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-right: 0.8rem;
  font-weight: 500;
  margin-top: -5px;
}
.nft .main .tokenInfo .rank ins {
  margin: 0.5rem;
  margin-bottom: 0.68rem;
  font-size: 130%;
}
.nft .main .creator {
  display: flex;
  align-items: center;
  margin-bottom: -0.6rem;
}
.nft .main .creator ins {
  color: #a89ec9;
  text-decoration: none;
}

.nft ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.031372549);
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.8s all;
}
.nft:hover {
  border: 1px solid rgba(255, 255, 255, 0.2666666667);
  box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.015);
  filter: brightness(1.3);
  -webkit-font-smoothing: antialiased;
}
.nft:hover ::before {
  filter: brightness(0.9);
  top: -135%;
  left: 200%;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



  .nft2 {
    display: inline-block; /* or display: inline-flex; */
    user-select: none;
    max-width: 200px;
    margin: 5rem auto;
    margin-top: 70px;
    margin-bottom: -10px;
    border: 1px solid rgba(255, 255, 255, 0.1333333333);
    background-color: #282c34;
    background: linear-gradient(0deg, 
    rgb(154, 27, 27) 0%, 
    rgba(100, 20, 20, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(255, 36, 36, 0.4);
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
  }
  
  .nft2 hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.3333333333);
    margin-top: 0;
  }
  .nft2 ins {
    text-decoration: none;
  }
  .nft2 .main2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
  }
  .nft2 .main2 .tokenImage2 {
    border-radius: 0.6rem;
    max-width: 94%;
    height: 140px;
    object-fit: cover;
  }
  .nft2 .main2 .description2 {
    margin: 0.4rem 0;
    margin-top: -5px;
    color: #a89ec9;
  }
  .nft2 .main2 .tokenInfo2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nft2 .main2 .tokenInfo2 .price2 {
    display: flex;
    align-items: center;
    color: #ee83e5;
    font-weight: 700;
    margin-top: -5px;
  }
  .nft2 .main2 .tokenInfo2 .price2 ins {
    margin-left: 0.1rem;
    margin-right: 0.6rem;
  }
  .nft2 .main2 .tokenInfo2 .rank2 {
    display: flex;
    align-items: center;
    color: #da1e1e;
    margin-right: 0.8rem;
    font-weight: 500;
    margin-top: -5px;
  }
  .nft2 .main2 .tokenInfo2 .rank2 ins {
    margin: 0.5rem;
    margin-bottom: 0.68rem;
    font-size: 130%;
  }
  .nft2 .main2 .creator2 {
    display: flex;
    align-items: center;
    margin-bottom: -0.6rem;
  }
  .nft2 .main2 .creator2 ins {
    color: #a89ec9;
    text-decoration: none;
  }
  
  .nft2 ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.031372549);
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  .nft2:hover {
    border: 1px solid rgba(255, 255, 255, 0.2666666667);
    box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.015);
    filter: brightness(1.3);
    -webkit-font-smoothing: antialiased;
  }
  .nft2:hover ::before {
    filter: brightness(0.9);
    top: -135%;
    left: 200%;
  }

  /*THREEE*/
  .nft3 {
    display: inline-block; /* or display: inline-flex; */
    user-select: none;
    max-width: 200px;
    margin: 5rem auto;
    margin-top: 70px;
    margin-bottom: -10px;
    border: 1px solid rgba(255, 255, 255, 0.1333333333);
    background-color: #282c34;
    background: linear-gradient(0deg, 
    rgb(40, 0, 105) 0%, 
    rgba(43, 2, 62, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(139, 26, 195, 0.4);
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
  }
  
  .nft3 hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.3333333333);
    margin-top: 0;
  }
  .nft3 ins {
    text-decoration: none;
  }
  .nft3 .main3 {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
  }
  .nft3 .main3 .tokenImage3 {
    border-radius: 0.6rem;
    max-width: 94%;
    height: 140px;
    object-fit: cover;
  }
  .nft3 .main3 .description3 {
    margin: 0.4rem 0;
    margin-top: -5px;
    color: #a89ec9;
  }
  .nft3 .main3 .tokenInfo3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nft3 .main3 .tokenInfo3 .price3 {
    display: flex;
    align-items: center;
    color: #ee83e5;
    font-weight: 700;
    margin-top: -5px;
  }
  .nft3 .main3 .tokenInfo3 .price3 ins {
    margin-left: 0.1rem;
    margin-right: 0.6rem;
  }
  .nft3 .main3 .tokenInfo3 .rank3 {
    display: flex;
    align-items: center;
    color: #ae14e2;
    margin-right: 0.8rem;
    font-weight: 500;
    margin-top: -5px;
  }
  .nft3 .main3 .tokenInfo3 .rank3 ins {
    margin: 0.5rem;
    margin-bottom: 0.68rem;
    font-size: 130%;
  }
  .nft3 .main3 .creator3 {
    display: flex;
    align-items: center;
    margin-bottom: -0.6rem;
  }
  .nft3 .main3 .creator3 ins {
    color: #a89ec9;
    text-decoration: none;
  }
  
  .nft3 ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.031372549);
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  .nft3:hover {
    border: 1px solid rgba(255, 255, 255, 0.2666666667);
    box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.015);
    filter: brightness(1.3);
    -webkit-font-smoothing: antialiased;
  }
  .nft3:hover ::before {
    filter: brightness(0.9);
    top: -135%;
    left: 200%;
  }

  /*FOUR*/
  .nft4 {
    display: inline-block; /* or display: inline-flex; */
    user-select: none;
    max-width: 200px;
    margin: 5rem auto;
    margin-top: 70px;
    margin-bottom: -10px;
    border: 1px solid rgba(255, 255, 255, 0.1333333333);
    background-color: #282c34;
    background: linear-gradient(0deg, 
    rgb(0, 88, 37) 0%, 
    rgba(5, 69, 62, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(26, 195, 32, 0.4);
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
  }
  
  .nft4 hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.3333333333);
    margin-top: 0;
  }
  .nft4 ins {
    text-decoration: none;
  }
  .nft4 .main4 {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
  }
  .nft4 .main4 .tokenImage4 {
    border-radius: 0.6rem;
    max-width: 94%;
    height: 140px;
    object-fit: cover;
  }
  .nft4 .main4 .description4 {
    margin: 0.4rem 0;
    margin-top: -5px;
    color: #a89ec9;
  }
  .nft4 .main4 .tokenInfo4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nft4 .main4 .tokenInfo4 .price4 {
    display: flex;
    align-items: center;
    color: #ee83e5;
    font-weight: 700;
    margin-top: -5px;
  }
  .nft4 .main4 .tokenInfo4 .price4 ins {
    margin-left: 0.1rem;
    margin-right: 0.6rem;
  }
  .nft4 .main4 .tokenInfo4 .rank4 {
    display: flex;
    align-items: center;
    color: #3aeb9b;
    margin-right: 0.8rem;
    font-weight: 500;
    margin-top: -5px;
  }
  .nft4 .main4 .tokenInfo4 .rank4 ins {
    margin: 0.5rem;
    margin-bottom: 0.68rem;
    font-size: 130%;
  }
  .nft4 .main4 .creator4 {
    display: flex;
    align-items: center;
    margin-bottom: -0.6rem;
  }
  .nft4 .main4 .creator4 ins {
    color: #a89ec9;
    text-decoration: none;
  }
  .nft4 ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.031372549);
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  .nft4:hover {
    border: 1px solid rgba(255, 255, 255, 0.2666666667);
    box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.015);
    filter: brightness(1.3);
    -webkit-font-smoothing: antialiased;
  }
  .nft4:hover ::before {
    filter: brightness(0.9);
    top: -135%;
    left: 200%;
  }

  /*FIVE*/

  .nft5 {
    display: inline-block; /* or display: inline-flex; */
    user-select: none;
    max-width: 200px;
    margin: 5rem auto;
    margin-top: 70px;
    margin-bottom: -10px;
    border: 1px solid rgba(255, 255, 255, 0.1333333333);
    background-color: #282c34;
    background: linear-gradient(0deg, 
    rgb(98, 85, 12) 0%, 
    rgba(102, 87, 27, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(195, 195, 26, 0.4);
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
  }
  
  .nft5 hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.3333333333);
    margin-top: 0;
  }
  .nft5 ins {
    text-decoration: none;
  }
  .nft5 .main5 {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
  }
  .nft5 .main5 .tokenImage5 {
    border-radius: 0.6rem;
    max-width: 94%;
    height: 140px;
    object-fit: cover;
  }
  .nft5 .main5 .description5 {
    margin: 0.4rem 0;
    margin-top: -5px;
    color: #a89ec9;
  }
  .nft5 .main5 .tokenInfo5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nft5 .main5 .tokenInfo5 .price5 {
    display: flex;
    align-items: center;
    color: #ee83e5;
    font-weight: 700;
    margin-top: -5px;
  }
  .nft5 .main5 .tokenInfo5 .price5 ins {
    margin-left: 0.1rem;
    margin-right: 0.6rem;
  }
  .nft5 .main5 .tokenInfo5 .rank5 {
    display: flex;
    align-items: center;
    color: #bbea14;
    margin-right: 0.8rem;
    font-weight: 500;
    margin-top: -5px;
  }
  .nft5 .main5 .tokenInfo5 .rank5 ins {
    margin: 0.5rem;
    margin-bottom: 0.68rem;
    font-size: 130%;
  }
  .nft5 .main5 .creator5 {
    display: flex;
    align-items: center;
    margin-bottom: -0.6rem;
  }
  .nft5 .main5 .creator5 ins {
    color: #a89ec9;
    text-decoration: none;
  }
  .nft5 ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.031372549);
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  .nft5:hover {
    border: 1px solid rgba(255, 255, 255, 0.2666666667);
    box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.015);
    filter: brightness(1.3);
    -webkit-font-smoothing: antialiased;
  }
  .nft5:hover ::before {
    filter: brightness(0.9);
    top: -135%;
    left: 200%;
  }

  /*SIX*/
  .nft6 {
    display: inline-block; /* or display: inline-flex; */
    user-select: none;
    max-width: 200px;
    margin: 5rem auto;
    margin-top: 70px;
    margin-bottom: -10px;
    border: 1px solid rgba(255, 255, 255, 0.1333333333);
    background-color: #282c34;
    background: linear-gradient(0deg, 
    rgb(94, 52, 0) 0%, 
    rgba(80, 39, 1, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(132, 95, 10, 0.262);
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
  }
  
  .nft6 hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.3333333333);
    margin-top: 0;
  }
  .nft6 ins {
    text-decoration: none;
  }
  .nft6 .main6 {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
  }
  .nft6 .main6 .tokenImage6 {
    border-radius: 0.6rem;
    max-width: 94%;
    height: 140px;
    object-fit: cover;
  }
  .nft6 .main6 .description6 {
    margin: 0.4rem 0;
    margin-top: -5px;
    color: #a89ec9;
  }
  .nft6 .main6 .tokenInfo6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nft6 .main6 .tokenInfo6 .price6 {
    display: flex;
    align-items: center;
    color: #ee83e5;
    font-weight: 700;
    margin-top: -5px;
  }
  .nft6 .main6 .tokenInfo6 .price6 ins {
    margin-left: 0.1rem;
    margin-right: 0.6rem;
  }
  .nft6 .main6 .tokenInfo6 .rank6 {
    display: flex;
    align-items: center;
    color: #ea9814;
    margin-right: 0.8rem;
    font-size: 90%;
    font-weight: 500;
    margin-top: -5px;
  }
  .nft6 .main6 .tokenInfo6 .rank6 ins {
    margin: 0.5rem;
    margin-bottom: 0.68rem;
    font-size: 130%;
  }
  .nft6 .main6 .creator6 {
    display: flex;
    align-items: center;
    margin-bottom: -0.6rem;
  }
  .nft6 .main6 .creator6 ins {
    color: #a89ec9;
    text-decoration: none;
  }
  .nft6 ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.031372549);
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  .nft6:hover {
    border: 1px solid rgba(255, 255, 255, 0.2666666667);
    box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.015);
    filter: brightness(1.3);
    -webkit-font-smoothing: antialiased;
  }
  .nft6:hover ::before {
    filter: brightness(0.9);
    top: -135%;
    left: 200%;
  }

  /*SEVEN*/
  .nft7 {
    display: inline-block; /* or display: inline-flex; */
    user-select: none;
    max-width: 200px;
    margin: 5rem auto;
    margin-top: 70px;
    margin-bottom: -10px;
    border: 1px solid rgba(255, 255, 255, 0.1333333333);
    background-color: #282c34;
    background: linear-gradient(0deg, 
    rgb(55, 55, 55) 0%, 
    rgba(29, 29, 29, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(61, 61, 61, 0.262);
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
  }
  
  .nft7 hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.3333333333);
    margin-top: 0;
  }
  .nft7 ins {
    text-decoration: none;
  }
  .nft7 .main7 {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
  }
  .nft7 .main7 .tokenImage7 {
    border-radius: 0.7rem;
    max-width: 94%;
    height: 140px;
    object-fit: cover;
  }
  .nft7 .main7 .description7 {
    margin: 0.4rem 0;
    margin-top: -5px;
    color: #a89ec9;
  }
  .nft7 .main7 .tokenInfo7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nft7 .main7 .tokenInfo7 .price7 {
    display: flex;
    align-items: center;
    color: #ee83e5;
    font-weight: 700;
    margin-top: -5px;
  }
  .nft7 .main7 .tokenInfo7 .price7 ins {
    margin-left: 0.1rem;
    margin-right: 0.7rem;
  }
  .nft7 .main7 .tokenInfo7 .rank7 {
    display: flex;
    align-items: center;
    color: #949494;
    margin-right: 0.8rem;
    font-size: 90%;
    font-weight: 500;
    margin-top: -5px;
  }
  .nft7 .main7 .tokenInfo7 .rank7 ins {
    margin: 0.5rem;
    margin-bottom: 0.78rem;
    font-size: 130%;
  }
  .nft7 .main7 .creator7 {
    display: flex;
    align-items: center;
    margin-bottom: -0.7rem;
  }
  .nft7 .main7 .creator7 ins {
    color: #a89ec9;
    text-decoration: none;
  }
  .nft7 ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.031372549);
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  .nft7:hover {
    border: 1px solid rgba(255, 255, 255, 0.2666666667);
    box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.015);
    filter: brightness(1.3);
    -webkit-font-smoothing: antialiased;
  }
  .nft7:hover ::before {
    filter: brightness(0.9);
    top: -135%;
    left: 200%;
  }




  /*collector, adventurer, scavenger, explorer, hunter, voyager, quester */

/*GREY  rgb(55, 55, 55)
  rgba(29, 29, 29*/ 

/*ORANGE  rgb(70, 39, 0), 
  rgba(29, 14, 0, 0.5)*/

/*YELLOW  rgb(105, 93, 0), 
  rgba(69, 56, 5, 0.5)*/

/*PURPLE rgb(40, 0, 105), 
  rgba(69, 5, 57, 0.5)*/

/*GREEN rgb(0, 88, 37), 
  rgba(5, 48, 69, 0.5)

/*RED rgb(154, 27, 27), 
  rgba(100, 20, 20, 0.5)*/