body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(22, 20, 24);
    color: #eee;
    user-select: none;
    font-size: 12px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
  
  .nft-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: 20px;
    gap: 2rem;
  }

  .nft-container > .nft:nth-child(1){
    background: linear-gradient(0deg, 
    rgb(131, 131, 131) 0%, 
    rgba(143, 143, 143, 0.5) 100%);
    box-shadow: 0 2px 15px 7px rgba(255, 255, 255, 0.533);
  }
  .nft-container > .nft:nth-child(2) {
    background: linear-gradient(0deg, 
    rgb(154, 27, 27) 0%, 
    rgba(100, 20, 20, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(255, 36, 36, 0.4);
  }
  .nft-container > .nft:nth-child(3) {
    background: linear-gradient(0deg, 
    rgb(40, 0, 105) 0%, 
    rgba(43, 2, 62, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(139, 26, 195, 0.4);
  }
  .nft-container > .nft:nth-child(4) {
    background: linear-gradient(0deg, 
    rgb(0, 88, 37) 0%, 
    rgba(5, 69, 62, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(26, 195, 32, 0.4);
  }
  .nft-container > .nft:nth-child(5) {
    background: linear-gradient(0deg, 
    rgb(98, 85, 12) 0%, 
    rgba(102, 87, 27, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(195, 195, 26, 0.4);
  }
  .nft-container > .nft:nth-child(6) {
    background: linear-gradient(0deg, 
    rgb(94, 52, 0) 0%, 
    rgba(80, 39, 1, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(132, 95, 10, 0.262);
  }
  .nft-container > .nft:nth-child(7) {
    background: linear-gradient(0deg, 
    rgb(55, 55, 55) 0%, 
    rgba(29, 29, 29, 0.5) 100%);
    box-shadow: 0 2px 10px 7px rgba(61, 61, 61, 0.262);
  }
  
  .nft {
    display: inline-block; /* or display: inline-flex; */
    user-select: none;
    max-width: 200px;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.1333333333);
    background-color: #282c34;
    overflow: hidden;
    transition: 0.5s all;
  }

  .card-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .tokenImage {
    /* padding-top: 1rem; */
    margin-top: .7rem;
    border-radius: 0.6rem;
    max-width: 90%;
    height: 140px;
    object-fit: cover;
  }

  /* .nft h2 {
    align-items: left;
    justify-content: left;
  } */
  
  .description {
    margin: 0;
    padding-left: .8rem;
    padding-right: .8rem;
    color: #a89ec9;
  }

  .pr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: -1rem;
  }

  .price {
    /* display: flex; */
    align-items: center;
    color: #ee83e5;
    font-weight: 700;
    margin-top: -5px;
  }
  .price ins {
    margin-left: 0.1rem;
    margin-right: 0.6rem;
    text-decoration: none;
  }
  .rank {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-right: 0.8rem;
    font-weight: 500;
    margin-top: -5px;
  }
  .rank ins {
    margin: 0.5rem;
    margin-bottom: 0.68rem;
    font-size: 130%;
    text-decoration: none;
  }
  .creator {
    display: flex;
    align-items: center;
  }
  .creator ins {
    color: #a89ec9;
    text-decoration: none;
  }

  .nft hr {
    width: 90%;
    border: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.3333333333);
    margin: 0;
  }
  
  .nft ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.031372549);
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.8s all;
  }
  .nft:hover {
    border: 1px solid rgba(255, 255, 255, 0.2666666667);
    box-shadow: 0 7px 50px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.015);
    filter: brightness(1.3);
    -webkit-font-smoothing: antialiased;
  }
  .nft:hover ::before {
    filter: brightness(0.9);
    top: -135%;
    left: 200%;
  }
  
  